<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="/public/assets/img/burger.jpg">
            <h1>Eat-Da-Burger!</h1>
        </div>
        <form class="create-form">
            <textarea type="text" id="newburger" name="burger"></textarea>
            <button class="btn btn-primary" type="submit">submit</button>
            <p>Enter a Burger You want to eat Click the "Submit" button</p>
        </form>

        
        
    </div>
</div>