<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <img src="/assets/img/hamburger.png" style="width:100px;height:100px;" class="center">
            <h2 class=" text-center">Eat Da Burger!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body" >
                    <ol>
                        {{#each burgers}}
                            {{#unless devoured}}
                                <li>
                                    {{burger_name}}
                                    <button type="button" class="btn btn-success btn-sm font-italic m-1" data-id="{{id}}">Devour it</button>
                                </li>
                            {{/unless}}
                        {{/each}}
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body" >
                    <ol>
                        {{#each burgers}}
                            {{#if devoured}}
                            <li>
                                <span>{{burger_name}}</span>
                            </li>
                            {{/if}}
                        {{/each}}
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form class="create-form">
                <div class="form-group">
                    <textarea type="text" id="newburger" name="name" class="form-control" rows="3"></textarea>
                    <button class="btn btn-primary mt-1" type="submit">Submit</button>
                    <h6 class="text-center">Enter a Burger You want to eat Click the "Submit" button</h6>
                </div>
            </form>
        </div>
    </div>
</div>